<footer class="footer-container">
  <div class="footer-content">
    <div class="footer-section">
      <div class="logo-container">
        <img src="/assets/icons/LogoWhite.svg" alt="Logo" class="logo">
        <p>We are a residential interior design firm located in Portland. Our boutique-studio offers more than</p>
      </div>
    </div>
    <div class="footer-section">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Bonus program</a></li>
        <li><a href="#">Gift cards</a></li>
        <li><a href="#">Credit and payment</a></li>
        <li><a href="#">Service contracts</a></li>
        <li><a href="#">Non-cash account</a></li>
        <li><a href="#">Payment</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Assistance to the buyer</h3>
      <ul>
        <li><a href="#">Find an order</a></li>
        <li><a href="#">Terms of delivery</a></li>
        <li><a href="#">Exchange and return of goods</a></li>
        <li><a href="#">Guarantee</a></li>
        <li><a href="#">Frequently asked questions</a></li>
        <li><a href="#">Terms of use of the site</a></li>
      </ul>
    </div>
  </div>
  <div class="social-icons">
    <img src="/assets/icons/Twitter.svg" alt="Twitter">
    <img src="/assets/icons/Facebook.svg" alt="Facebook">
    <img src="/assets/icons/Tiktok.svg" alt="TikTok">
    <img src="/assets/icons/Instagram.svg" alt="Instagram">
  </div>
</footer>
