.price-filter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group.min {
  align-items: flex-start;
}

.input-group.max {
  align-items: flex-end;
}

label {
  font-size: 0.875rem;
  color: var(--color-dark-tertiary);
  margin-bottom: 8px;
}

app-input-field {
  width: 100px;
}
